<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ToDo List App</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="mask-icon" href="icon.svg">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="stylesheet" type="text/css" href="app.css">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="description" content="A simple todo list app built with node">
        <meta name="application-name" content="zenolist.herokuapp.com">
        <meta name="keywords" content="todos,todolist,todo-list,lists,checklists,todoapp,todo-list-app,todolistapp">
        <meta name="theme-color" content="#2c3e50">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    </head>
    <body>        
        <header>
            <div class="title">
                <h1>todo<span>list</span></h1>
                <h2>A simple todo list app built with node</h2>
            </div>
            <div class="theme">
                <button class="bt bt-green"></button>
                <button class="bt bt-gray"></button>
            </div>            
        </header>        
        <section class="form">
            <input type="text" id="todoInput" placeholder="Insert your task here..."/>
        </section>        
        <ul class="list"></ul>        
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>